<h1>{{title}}</h1>
<input type="text" #name placeholder="Enter ur name" name="Name"><br>
<input type="text" #address placeholder="Enter address" name="Address"><br>
<input type="text" #contact placeholder="Enter ur contact" name="Contact"><br>
<input type="email" #email placeholder="Enter ur email" name="Email"><br>
<input type="password" #password placeholder="Enter ur password" name="Password"><br>
<button (click)="getValue(name.value,address.value,contact.value,email.value)">Register</button>

<h1>Your registered data</h1><br>
<p>Name:{{displayname}}</p>
<p>Address:{{displayaddress}}</p>
<p>Contact:{{displaycontact}}</p>
<p>Email:{{displayemail}}</p>